apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: davidunir945/spring-petclinic-config-server-test
          ports:
            - containerPort: 8888
          env:
          - name: CONFIG_SERVER_URL
            value: "http://config-server:8888"            
          resources:
            limits:
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 8888
            initialDelaySeconds: 5
            periodSeconds: 5
